:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #2c2f50;
    color: white;
}

.left-section {
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.separator {
    margin: 0 10px;
    color: white;
}

.right-section {
    margin-left: auto;
    padding-right: 10px;
}
